<%- include("header") -%>
    <img class="logo"src="https://telugu.greatandhra.com/newphotos2/jg1472714781.jpg"alt="janatagarage"/>
    <h1><%= title %></h1>
    <div class="songs">
      <a href="https://swbvideo.com/download/lFAiFov5pP8">pranamam</a>
      <a href="https://swbvideo.com/download/Fa4COn3sPDY">Rock on bro</a>
      <a href="https://swbvideo.com/download/lGcmuBMjJIA">Apple Beauty</a>
      <a href="https://swbvideo.com/download/EhzJ1c0d53s">Ni selavadigi</a>
      <a href="https://swbvideo.com/download/H0x-wU9X6E8">Janatagarege</a>
    </div>
  <%- include("footer") -%>  
